<h1>Add New Investment</h1>
<form action="/investments" method="POST">
    Name: <input type="text" id="investment_name" name="name"  placeholder="Name" >
    Date: <input type="date" id="investment_date" name="date"  placeholder="Date" >
    Amount: <input type="number" id="investment_amount" name="amount"  placeholder="Amount" >
    Description: <input type="text" id="investment_description" name="description"  placeholder="Optional" >
    Investment Type: <input type="text" id="investment_kind" name="kind"  placeholder="Type of Investment" >
    <input type="submit" value="Add">
</form>

<a href="/investments">View Investments</a>
<br>
<a href="/">Home</a>
<br>
<a href="/account">Account</a>
<br>
<a href="/logout">Log Out</a>