<br>
<br>
<h2><b>Update Account:</b></h2>
<div class="text-justify-start">
<h3><b>Name:</b> <%= @user.name %></h3>
<h3><b>Email:</b> <%= @user.email %> </h3>
<h3><b>Member Since:</b> <%= @user.created_at.strftime('%d %b %Y') %> </h3><br>
</div>
<a href='/account/edit' class="btn btn-primary" >Edit Account</a><br>