<h3>Update Account Info:</h3>
<form action="/account/edit" method="POST">
<input type="hidden" name="_method" id="hidden" value="PATCH">
  <input type="text" name="name" placeholder="Name" value="<%= @user.name %>">
  <br>
  <input type="email" name="email" placeholder="Email" value="<%= @user.email %>">
  <br>
  <input type="password" name="password" placeholder="Password" value="<%= @user.password %>">
  <br>
  <input type="submit" id="submit" value="Update Account">
</form>