<h1> create new user </h1>

<form action="/users" method="POST">
    Name: <input type="text" id="name" name="name" placeholder="Name">
    Email: <input type="email" id="email" name="email" placeholder="Email">
    Password: <input type="password" id="password" name="password" placeholder="Password">
    <br>
    <br>
    <input type="submit" id="submit" value="Create User">
</form>