<div>

  <div class="text-center">
    <br>
    <br>
    <h1>Investy</h1>

    <div>
      <h3>Welcome to the Investy App!</h3>

      <p>Click below to get started</p>
      <p><a href="/signup" class="btn btn-primary">Sign Up</a>   <a href="/login" class="btn btn-primary">Log In</a></p>
    </div>


  </div>
</div>
