<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Investy</h2>

    <div class="content">
      <h2>Welcome to the Investy App!</h2>

      <a href="/signup">Sign Up</a> | <a href="/login">Log In</a>
    </div>


  </div>
</div>
